<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
      h1 {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <meta charset="utf-8">
    <title>Flask Website</title>
  </head>
  <body>
    <h1> Alex's Flask Website </h1>
    <p>Average: ${{average}}</p>
    <table>
      <TR>
        <TD>Page</TD>
        <TD>Name</TD>
        <TD>Price</TD>
      </TR>
      {% for product in productlist %}
      <TR>
        <TD class="c1">{{product.page}}</TD>
        <TD class="c2">{{product.name}}</TD>
        <TD class="c3">${{product.price}}</TD>
      </TR>
      {% endfor %}
    </table>
  </body>
</html>
